.animation_hide{
    animation: hide 1s forwards;
}
.animation_scroll__left{
    animation: animation_scroll__left 1s forwards;
}
.animation_show__up{
    animation: animation_show__up 1s forwards;
}
@keyframes animation_scroll__left{
    0%{
        opacity: 1;
        margin-left: 0;
    }
    100%{
        opacity: 0;
        margin-left: -100vh;
    }
}
@keyframes animation_show__up{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes hide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}