@import "./fonts.css";
@import "./normalize.css";
@import "./variables.scss";
@import "./blocks.scss";
@import "./animations.scss";
@import "./displayVersion.scss";

/* Pages */
@import "./pages/helloPage.scss";
@import "./pages/infoBlock.scss";

body {
  font-family: "Quicksand", sans-serif;
  color: $firstColor;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width;
  min-height: $height;
}
.select {
  text-align: center;
  line-height: 32px;
  background: #fff;
  width: 180px;
  height: 36px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
  &__city {
    color: $secondColor;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .section-helloPage {
    width: 100%;
    &__output {
      width: 98%;
    }
  }
  .infoPage {
    width: 100%;
    &__information {
      padding-left: 20px;
      width: 80%;
    }
  }
}
.test {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 400px;
  height: 26px;
  button {
    margin-left: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  &__yes,
  &__no {
    border: 1px solid rgba(1, 1, 1, 0.4);
    border-radius: 5px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .helloPage {
    width: 100%;
    &__output {
      width: 98%;
    }
  }
  .infoPage {
    width: 100%;
    &__information {
      padding-left: 20px;
      width: 80%;
    }
  }
}
